<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zadatak5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>AppInit.InitApp</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DodavanjeUcesnika</display-name>
    <servlet-name>DodavanjeUcesnika</servlet-name>
    <servlet-class>Servleti.DodavanjeUcesnika</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodavanjeUcesnika</servlet-name>
    <url-pattern>/DodavanjeUcesnika</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pretraga</display-name>
    <servlet-name>Pretraga</servlet-name>
    <servlet-class>Servleti.Pretraga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pretraga</servlet-name>
    <url-pattern>/Pretraga</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prijava</display-name>
    <servlet-name>Prijava</servlet-name>
    <servlet-class>Servleti.Prijava</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prijava</servlet-name>
    <url-pattern>/Prijava</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikazUcesnika</display-name>
    <servlet-name>PrikazUcesnika</servlet-name>
    <servlet-class>Servleti.PrikazUcesnika</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikazUcesnika</servlet-name>
    <url-pattern>/PrikazUcesnika</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registracija</display-name>
    <servlet-name>Registracija</servlet-name>
    <servlet-class>Servleti.Registracija</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registracija</servlet-name>
    <url-pattern>/Registracija</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Odjava</display-name>
    <servlet-name>Odjava</servlet-name>
    <servlet-class>Servleti.Odjava</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Odjava</servlet-name>
    <url-pattern>/Odjava</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikazUcesnikaAjax</display-name>
    <servlet-name>PrikazUcesnikaAjax</servlet-name>
    <servlet-class>Servleti.PrikazUcesnikaAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikazUcesnikaAjax</servlet-name>
    <url-pattern>/PrikazUcesnikaAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikazTabeleU</display-name>
    <servlet-name>PrikazTabeleU</servlet-name>
    <servlet-class>Servleti.PrikazTabeleU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikazTabeleU</servlet-name>
    <url-pattern>/PrikazTabeleU</url-pattern>
  </servlet-mapping>
</web-app>