<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<display-name>Vezbe07</display-name>
  <welcome-file-list>
    <welcome-file>PocetnaServlet</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.ftninformatika.vezbe07.webshop.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SveKategorijeServlet</display-name>
    <servlet-name>SveKategorijeServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.kategorije.SveKategorijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SveKategorijeServlet</servlet-name>
    <url-pattern>/SveKategorijeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajKategorijuServlet</display-name>
    <servlet-name>DodajKategorijuServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.kategorije.DodajKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajKategorijuServlet</servlet-name>
    <url-pattern>/DodajKategorijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniKategorijuServlet</display-name>
    <servlet-name>IzmeniKategorijuServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.kategorije.IzmeniKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniKategorijuServlet</servlet-name>
    <url-pattern>/IzmeniKategorijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiKategorijuServlet</display-name>
    <servlet-name>ObrisiKategorijuServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.kategorije.ObrisiKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiKategorijuServlet</servlet-name>
    <url-pattern>/ObrisiKategorijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikaziKategorijuServlet</display-name>
    <servlet-name>PrikaziKategorijuServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.kategorije.PrikaziKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikaziKategorijuServlet</servlet-name>
    <url-pattern>/PrikaziKategorijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajProizvodServlet</display-name>
    <servlet-name>DodajProizvodServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.proizvodi.DodajProizvodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajProizvodServlet</servlet-name>
    <url-pattern>/DodajProizvodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniProizvodServlet</display-name>
    <servlet-name>IzmeniProizvodServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.proizvodi.IzmeniProizvodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniProizvodServlet</servlet-name>
    <url-pattern>/IzmeniProizvodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikaziProizvodServlet</display-name>
    <servlet-name>PrikaziProizvodServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.proizvodi.PrikaziProizvodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikaziProizvodServlet</servlet-name>
    <url-pattern>/PrikaziProizvodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SviProizvodiServlet</display-name>
    <servlet-name>SviProizvodiServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.proizvodi.SviProizvodiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SviProizvodiServlet</servlet-name>
    <url-pattern>/SviProizvodiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiProizvodServlet</display-name>
    <servlet-name>ObrisiProizvodServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.proizvodi.ObrisiProizvodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiProizvodServlet</servlet-name>
    <url-pattern>/ObrisiProizvodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikaziDodavanjeProizvodaServlet</display-name>
    <servlet-name>PrikaziDodavanjeProizvodaServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.proizvodi.PrikaziDodavanjeProizvodaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikaziDodavanjeProizvodaServlet</servlet-name>
    <url-pattern>/PrikaziDodavanjeProizvodaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikaziKorpuServlet</display-name>
    <servlet-name>PrikaziKorpuServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korpe.PrikaziKorpuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikaziKorpuServlet</servlet-name>
    <url-pattern>/PrikaziKorpuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajUKorpuServlet</display-name>
    <servlet-name>DodajUKorpuServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korpe.DodajUKorpuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajUKorpuServlet</servlet-name>
    <url-pattern>/DodajUKorpuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UkloniIzKorpeServlet</display-name>
    <servlet-name>UkloniIzKorpeServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korpe.UkloniIzKorpeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UkloniIzKorpeServlet</servlet-name>
    <url-pattern>/UkloniIzKorpeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsprazniKorpuServlet</display-name>
    <servlet-name>IsprazniKorpuServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korpe.IsprazniKorpuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsprazniKorpuServlet</servlet-name>
    <url-pattern>/IsprazniKorpuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrijavaServlet</display-name>
    <servlet-name>PrijavaServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korisnici.PrijavaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrijavaServlet</servlet-name>
    <url-pattern>/PrijavaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OdjavaServlet</display-name>
    <servlet-name>OdjavaServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korisnici.OdjavaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OdjavaServlet</servlet-name>
    <url-pattern>/OdjavaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PocetnaServlet</display-name>
    <servlet-name>PocetnaServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.PocetnaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PocetnaServlet</servlet-name>
    <url-pattern>/PocetnaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaServlet</display-name>
    <servlet-name>RegistracijaServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korisnici.RegistracijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaServlet</servlet-name>
    <url-pattern>/RegistracijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SviKorisniciServlet</display-name>
    <servlet-name>SviKorisniciServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korisnici.SviKorisniciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SviKorisniciServlet</servlet-name>
    <url-pattern>/SviKorisniciServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikaziKorisnikaServlet</display-name>
    <servlet-name>PrikaziKorisnikaServlet</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korisnici.PrikaziKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikaziKorisnikaServlet</servlet-name>
    <url-pattern>/PrikaziKorisnikaServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>SviProizvodiServlet2</display-name>
    <servlet-name>SviProizvodiServlet2</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.proizvodi.SviProizvodiServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SviProizvodiServlet2</servlet-name>
    <url-pattern>/SviProizvodiServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajUKorpuServlet2</display-name>
    <servlet-name>DodajUKorpuServlet2</servlet-name>
    <servlet-class>com.ftninformatika.vezbe07.webshop.korpe.DodajUKorpuServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajUKorpuServlet2</servlet-name>
    <url-pattern>/DodajUKorpuServlet2</url-pattern>
  </servlet-mapping>
</web-app>