#Termin03/Termin03/bin
#.metadata
#bin/
#tmp/
#*.tmp
#*.bak
#*.swp
#*~.nib
#local.properties
#.settings/
#.loadpath
#.recommenders
JWD/Modul3/Termin1/wafepaAPP/.classpath
JWD/Modul3/Termin1/wafepaAPP/.settings/*
JWD\Modul3\Termin1\wafepaAPP\.classpath
*\.classpath