<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>WebProg-Termin05ObjectUser</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list> 
  <servlet>
    <description>
		</description>
    <display-name>WebShopServlet</display-name>
    <servlet-name>WebShopServlet</servlet-name>
    <servlet-class>webshop.servlets.WebShopServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ShoppingCartServlet</display-name>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>webshop.servlets.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>WSLoginServlet</display-name>
    <servlet-name>WSLoginServlet</servlet-name>
    <servlet-class>webshop.servlets.WSLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>PrikazUsera</display-name>
    <servlet-name>PrikazUsera</servlet-name>
    <servlet-class>webshop.servlets.PrikazUsera</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Registracija</display-name>
    <servlet-name>Registracija</servlet-name>
    <servlet-class>webshop.servlets.Registracija</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>FindUser</display-name>
    <servlet-name>FindUser</servlet-name>
    <servlet-class>webshop.servlets.FindUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebShopServlet</servlet-name>
    <url-pattern>/WebShopServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WSLoginServlet</servlet-name>
    <url-pattern>/WSLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrikazUsera</servlet-name>
    <url-pattern>/PrikazUsera</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registracija</servlet-name>
    <url-pattern>/Registracija</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUser</servlet-name>
    <url-pattern>/FindUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>webshop.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>webshop.servlets.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>webshop.servlets.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
</web-app>