<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletExamples</display-name>
  <welcome-file-list>
    <welcome-file>inputOsoba.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>doed.l9.wp.servlets.example01.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAndShowDataFromForm</display-name>
    <servlet-name>GetAndShowDataFromForm</servlet-name>
    <servlet-class>doed.l9.wp.servlets.example02.GetAndShowDataFromForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAndShowDataFromForm</servlet-name>
    <url-pattern>/GetAndShowDataFromForm</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>GetDataAndSaveToListServeltContex</display-name>
    <servlet-name>GetDataAndSaveToListServeltContex</servlet-name>
    <servlet-class>doed.l9.wp.servlets.example04.GetDataAndSaveToListServeltContex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataAndSaveToListServeltContex</servlet-name>
    <url-pattern>/GetDataAndSaveToListServeltContex</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>InputFormToGetDataAndSaveToListServeltContex</display-name>
    <servlet-name>InputFormToGetDataAndSaveToListServeltContex</servlet-name>
    <servlet-class>doed.l9.wp.servlets.example04.InputFormToGetDataAndSaveToListServeltContex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputFormToGetDataAndSaveToListServeltContex</servlet-name>
    <url-pattern>/InputFormToGetDataAndSaveToListServeltContex</url-pattern>
  </servlet-mapping>
        <servlet>
    <description></description>
    <display-name>ShowDataFromListServeltContex</display-name>
    <servlet-name>ShowDataFromListServeltContex</servlet-name>
    <servlet-class>doed.l9.wp.servlets.example04.ShowDataFromListServeltContex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDataFromListServeltContex</servlet-name>
    <url-pattern>/ShowDataFromListServeltContex</url-pattern>
  </servlet-mapping>
</web-app>